{
  "openapi": "3.0.3",
  "info": {
    "title": "ifkash API",
    "description": "Personal website APIs powered by Cloudflare Workers",
    "version": "1.0.0",
    "contact": {
      "name": "Kashif",
      "email": "haque.kashiful7@gmail.com"
    }
  },
  "servers": [
    {
      "url": "https://ifkash.dev",
      "description": "Production server"
    },
    {
      "url": "http://localhost:8787",
      "description": "Local development server"
    }
  ],
  "paths": {
    "/api/hello": {
      "get": {
        "summary": "Hello World",
        "description": "Simple greeting endpoint",
        "operationId": "getHello",
        "tags": ["Utils"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Hello from Cloudflare Workers! ✨"
                }
              }
            }
          }
        }
      }
    },
    "/api/ping": {
      "get": {
        "summary": "Health Check",
        "description": "Ping endpoint for health checks",
        "operationId": "getPing",
        "tags": ["Utils"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pong": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/hn": {
      "get": {
        "summary": "Hacker News Stories",
        "description": "Get top 20 Hacker News stories from the past week, cached for performance",
        "operationId": "getHackerNewsStories",
        "tags": ["Hacker News"],
        "responses": {
          "200": {
            "description": "List of Hacker News stories",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HackerNewsStory"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error fetching stories",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Error fetching top stories"
                }
              }
            }
          }
        }
      }
    },
    "/api/lc/profile": {
      "get": {
        "summary": "LeetCode Profile",
        "description": "Get LeetCode profile statistics for a user",
        "operationId": "getLeetCodeProfile",
        "tags": ["LeetCode"],
        "parameters": [
          {
            "name": "username",
            "in": "query",
            "description": "LeetCode username (defaults to 'ifkash')",
            "required": false,
            "schema": {
              "type": "string",
              "default": "ifkash",
              "example": "ifkash"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "LeetCode profile statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeetCodeProfile"
                }
              }
            }
          },
          "500": {
            "description": "Error parsing JSON from LeetCode"
          }
        }
      }
    },
    "/api/lc/submissions": {
      "post": {
        "summary": "LeetCode Recent Submissions",
        "description": "Get recent accepted submissions for a LeetCode user",
        "operationId": "getLeetCodeSubmissions",
        "tags": ["LeetCode"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmissionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recent submissions data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmissionsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body or username",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Invalid username"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Only POST method is allowed"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "HackerNewsStory": {
        "type": "object",
        "properties": {
          "by": {
            "type": "string",
            "description": "Author username",
            "example": "pg"
          },
          "id": {
            "type": "integer",
            "description": "Story ID",
            "example": 8863
          },
          "score": {
            "type": "integer",
            "description": "Story score/points",
            "example": 111
          },
          "time": {
            "type": "integer",
            "format": "int64",
            "description": "Unix timestamp",
            "example": 1175714200
          },
          "title": {
            "type": "string",
            "description": "Story title",
            "example": "My YC app: Dropbox - Throw away your USB drive"
          },
          "type": {
            "type": "string",
            "description": "Item type",
            "example": "story"
          },
          "url": {
            "type": "string",
            "description": "Story URL",
            "example": "http://www.getdropbox.com/u/2/screencast.html"
          }
        },
        "required": ["id", "time"]
      },
      "LeetCodeProfile": {
        "type": "object",
        "properties": {
          "easy": {
            "$ref": "#/components/schemas/ProblemSlot"
          },
          "medium": {
            "$ref": "#/components/schemas/ProblemSlot"
          },
          "hard": {
            "$ref": "#/components/schemas/ProblemSlot"
          },
          "total": {
            "$ref": "#/components/schemas/ProblemSlot"
          }
        }
      },
      "ProblemSlot": {
        "type": "object",
        "properties": {
          "complete": {
            "type": "integer",
            "description": "Number of completed problems",
            "example": 50
          },
          "total": {
            "type": "integer",
            "description": "Total number of problems available",
            "example": 100
          }
        },
        "required": ["complete", "total"]
      },
      "SubmissionsRequest": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string",
            "description": "LeetCode username",
            "example": "ifkash"
          },
          "count": {
            "type": "integer",
            "description": "Number of submissions to retrieve (max 20)",
            "minimum": 0,
            "maximum": 20,
            "example": 10
          }
        },
        "required": ["username"]
      },
      "SubmissionsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "recentAcSubmissionList": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Submission"
                }
              }
            }
          }
        }
      },
      "Submission": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Submission ID",
            "example": "12345"
          },
          "title": {
            "type": "string",
            "description": "Problem title",
            "example": "Two Sum"
          },
          "titleSlug": {
            "type": "string",
            "description": "Problem slug",
            "example": "two-sum"
          },
          "timestamp": {
            "type": "string",
            "description": "Submission timestamp",
            "example": "1609459200"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Utils",
      "description": ""
    },
    {
      "name": "Hacker News",
      "description": ""
    },
    {
      "name": "LeetCode",
      "description": ""
    }
  ]
}
