@import url("https://fonts.googleapis.com/css2?family=Flow+Circular&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');

:root {
  --mainTextColor-light: #cdd6f4;
  --secondaryTextColor-light: rgb(51 51 51);
  --mainLinkColor-light: #ffad29;
  --mainBorderColor-light: rgb(218, 218, 218);
  --mainBgColor-light: rgb(249, 250, 251);

  --mainTextColor-dark: #89b4fa;
  --secondaryTextColor-dark: #adb0b1;
  --mainLinkColor-dark: #f9e2af;
  --mainBorderColor-dark: #2b3031;
  --mainBgColor-dark: #11111b;

  --mainTextColor: var(--mainTextColor-dark);
  --secondaryTextColor: var(--secondaryTextColor-dark);
  --mainLinkColor: var(--mainLinkColor-dark);
  --mainBorderColor: var(--mainBorderColor-dark);
  --mainBgColor: var(--mainBgColor-dark);
}

* {
  font-family: 'Song Myung', serif;
  line-height: 1.2em;
  box-sizing: border-box;
  color: var(--mainTextColor);
}

body {
  background-color: var(--mainBgColor);
}

.resume {
  color: var(mainLinkColor);
  font-weight: 500;
}

.margin-right {
  margin-right: 0.25rem;
}

.margin-left {
  margin-left: 0.25rem;
}

p,
span,
li {
  color: var(--secondaryTextColor);
  font-size: 1.1em;
}

a {
  text-decoration: none;
  color: var(--mainLinkColor);
  font-weight: 500;
}

li {
  line-height: 1.9em;
}

#container--main {
  max-width: 960px;
  margin: 0 auto;
  padding: 1em;
}

.section--page {
  padding-top: 1em;
  padding-bottom: 1em;
}

.section--page-text-center {
  text-align: center;
}

#wrapper--hero {
  display: flex;
  align-items: center;
  gap: 4em;
}

#bio,
a {
  font-weight: 300;
}

#user-name {
  font-size: 44px;
  line-height: 1em;
}

#profile-pic {
  width: 192px;
  height: 192px;
  object-fit: cover;
  border-radius: 50%;
}

#email {
  color: var(--mainTextColor);
}

#socials--list {
  display: flex;
  justify-content: space-between;
  column-gap: 1em;
  flex-wrap: wrap;
  color: var(--mainLinkColor-dark);
}

#socials--list a {
  font-weight: 500;
  color: var(--mainLinkColor);
  font-size: 1.1em;
  transition: 0.3s;
}

#socials--list a:hover {
  color: var(--mainLinkColor);
}

.profile-icon {
  margin-right: 0.6em;
}

#qualifications--list {
  list-style: none;
  padding: 0.1em;
}

.margin--bottom {
  margin-bottom: 0.6em;
}

#wrapper--techstack__items {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  font-size: 1em;
}

.card--techstack {
  border: 2px solid var(--mainBorderColor);
  border-radius: 5px;
  padding: 0.5em 1em;
  align-items: center;
  width: 100%;
}

.card--techstack a {
  color: var(--mainTextColor-dark);
  margin-left: 0.2em;
  margin-right: 0.2em;
  font-size: 1em;
}

.card--project {
  padding-top: 1em;
  padding-bottom: 1em;
}

.card--project a {
  color: var(--mainTextColor);
  font-size: 1.1em;
  transition: 0.3s;
}

.card--project a:hover {
  color: rgb(30, 190, 214);
}

.card--work-history {
  border-left: 1px solid var(--mainBorderColor);
  margin-top: 3em;
  margin-bottom: 3em;
  padding-left: 2em;
}

.line-break {
  background-color: var(--mainBorderColor);
  height: 1px;
}

@media (max-width: 600px) {
  #user-name {
    text-align: center;
  }

  .section--page {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .profiles {
    flex: 100%;
    margin-bottom: 1em;
    color: var(--mainLinkColor-dark);
  }

  #wrapper--hero {
    display: flex;
    align-items: center;
    gap: 1em;
  }

  #profile-pic {
    width: 200px;
    height: 200px;
  }

  #wrapper--hero {
    flex-direction: column;
  }

  .card--work-history {
    border-left: none;
    padding-left: 0;
  }
}

hr {
  border: 0;
  height: 1px;
  width: 10%;
  position: relative;
  margin: 30px auto;
}

hr.center-ball {
  background: aqua;
}

hr.center-ball:before {
  content: "";
  width: 6px;
  height: 6px;
  background: aqua;
  display: inline-block;
  border: 2px solid aqua;
  border-radius: 50%;
  position: absolute;
  top: -4px;
  left: 50%;
  margin: 0 0 0 -3px;
}

.flow-circular {
  font-family: "Flow Circular", cursive;
}

a {
  position: relative;
}

a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px; /* Adjust the underline height as needed */
  background-color: #1ed4bc; /* Adjust the underline color as needed */
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.2s ease; /* Add a transition for a smooth effect */
}
