@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

:root {
  --mainTextColor-light: #000;
  --secondaryTextColor-light: rgb(51 51 51);
  --mainLinkColor-light: #ffad29;
  --mainBorderColor-light: rgb(218, 218, 218);
  --mainBgColor-light: rgb(249, 250, 251);

  --mainTextColor-dark: #fff;
  --secondaryTextColor-dark: #adb0b1;
  --mainLinkColor-dark: #ffad29;
  --mainBorderColor-dark: #2b3031;
  --mainBgColor-dark: #050809;
  /* --mainBgColor-dark: #242424; */

  --mainTextColor: var(--mainTextColor-dark);
  --secondaryTextColor: var(--secondaryTextColor-dark);
  --mainLinkColor: var(--mainLinkColor-dark);
  --mainBorderColor: var(--mainBorderColor-dark);
  --mainBgColor: var(--mainBgColor-dark);
}

* {
  font-family: "Readex Pro";
  line-height: 1.5em;
  box-sizing: border-box;
  color: var(--mainTextColor);
}

body {
  background-color: var(--mainBgColor);
}

p,
span,
li {
  color: var(--secondaryTextColor);
  font-size: 1em;
}

a {
  text-decoration: none;
  color: var(--mainLinkColor);
  font-weight: 500;
}

li {
  line-height: 1.9em;
}

#container--main {
  max-width: 960px;
  margin: 0 auto;
  padding: 1em;
}

.section--page {
  padding-top: 1em;
  padding-bottom: 1em;
}

.section--page-text-center {
  text-align: center;
}

#wrapper--hero {
  display: flex;
  align-items: center;
  gap: 4em;
}

#bio,
a {
  font-weight: 300;
}

#user-name {
  font-family: 'Sacramento', cursive;
  font-size: 48px;
  line-height: 1em;
}

.breathe {
  animation: breathe 4s linear infinite;
}

@keyframes breathe{
  0%{transform: scale(1);}
  25%{transform: scale(1.1);}
  60%{transform: scale(1);}
  100%{transform: scale(1.1);}
}

#profile-pic {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

#email {
  color: var(--mainTextColor);
}

#socials--list {
  display: flex;
  justify-content: space-between;
  column-gap: 1em;
  flex-wrap: wrap;
  color: var(--mainLinkColor-dark);
}

#socials--list a {
  font-weight: 500;
  color: var(--mainLinkColor);
  font-size: 1em;
  transition: 0.3s;
}

#socials--list a:hover {
  font-weight: 700;
  color: var(--mainLinkColor);
  font-size: 1.2em;
}

.profile-icon {
  margin-right: 0.6em;
}

#qualifications--list {
  list-style: none;
  padding: 0.1em;
}

.margin--bottom {
  margin-bottom: 0.6em;
}

#wrapper--techstack__items {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  font-size: 0.9em;
}

.card--techstack {
  border: 2px solid var(--mainBorderColor);
  border-radius: 5px;
  padding: 0.5em 1em;
  align-items: center;
  width: 100%;
}

.card--techstack a {
  color: var(--mainTextColor-dark);
  margin-left: 0.2em;
  margin-right: 0.2em;
  font-size: 1.1em;
}

.card--project {
  padding-top: 1em;
  padding-bottom: 1em;
  border-top: 1px solid var(--mainBorderColor);
}

.card--project a {
  color: var(--mainTextColor);

  transition: 0.3s;
}

.card--project a:hover {
  color: rgb(30, 190, 214);
}

.card--work-history {
  border-left: 1px solid var(--mainBorderColor);
  margin-top: 3em;
  margin-bottom: 3em;
  padding-left: 2em;
}

.line-break {
  background-color: var(--mainBorderColor);
  height: 1px;
}

@media (max-width: 600px) {
  .section--page {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .profiles {
    flex: 100%;
    margin-bottom: 1em;
    color: var(--mainLinkColor-dark);
  }

  #wrapper--hero {
    display: flex;
    align-items: center;
    gap: 1em;
  }

  #profile-pic {
    width: 200px;
    height: 200px;
  }

  #wrapper--hero {
    flex-direction: column;
  }

  .card--work-history {
    border-left: none;
    padding-left: 0;
  }
}

hr {
  border: 0;
  height: 1px;
  width: 10%;
  position: relative;
  margin: 30px auto;
}

hr.center-ball {
  background: aqua;
}

hr.center-ball:before {
  content: "";
  width: 6px;
  height: 6px;
  background: aqua;
  display: inline-block;
  border: 2px solid aqua;
  border-radius: 50%;
  position: absolute;
  top: -4px;
  left: 50%;
  margin: 0 0 0 -3px;
}

.flow-circular {
  font-family: 'Flow Circular', cursive;
}

.company {
  scale: 1.1;
}